<html>
    {% load static %}
    <head>
        <link
            href="https://fonts.googleapis.com/css?family=Raleway:400, 600"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" href="{% static 'css/style.css'  %}" />
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <div class="home-container">
            <div class="header">
                <div class="header-container">
                    <h3>Lizzy's File Server</h3>
                    <form
                            class="inputbox"
                            action="{% url 'home' %}"
                            method="GET"
                        >
                            <input
                                placeholder="Searth for files......."
                                type="text"
                                name="q"
                                class="input"
                            />
                            <button>Go</button>
                        </form>
                    <div>
                        {% if not request.user.is_authenticated %}
                        <ul class="header-links">
                            <li>
                                <a href="{% url 'signup' %}">Signup</a>
                            </li>
                            <li>
                                <a href="{% url 'login' %}">Login</a>
                            </li>
                        </ul>
                        {% else %}
                        <ul class="header-other-links">
                            <li>
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                        
    
                </div>
            </div>
            <div class="jumbotron">
                {% if messages %}
                {% for message in messages %}
                <div class="ui {{message.tags}} message">
                {{message}}
                <a class="message_sent">ok</a>
                </div>
                {% endfor %}
                {% endif %}
                <div class="main-container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div> 
            <div class="footer">
                <div class="footer-container">
                    <p>&copy; Lizzy 2023</p>
                </div>
            </div>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
