{% extends "main.html" %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="ui {{message.tags}} message">
    {{message}}
    </div>
    {% endfor %}
{% endif %}

<!-- image files -->
{% if image_files %}
{% for file in image_files %}
<div>
    {{file.title}}
    <a class="view">Preview</a>
    <a href="{{file.file.url}}" class="download-link" data-file-id="{{ file.id }}" download>Download</a>
    <a href="{% url 'increment_emails_sent' pk=file.id %}">Send file as Email</a>
    <div class="view-details">
        <img src="{{ file.file.url }}" alt="File Preview" width="250px" height="250px">
    </div>
</div>
{% endfor %}
{% endif %}

<!-- audio files -->
{% if audio_files %}
{% for file in audio_files %}
<div>
    {{file.title}}
    <a class="view">Preview</a>
    <a href="{{file.file.url}}" class="download-link" data-file-id="{{ file.id }}">Download</a>
    <a href="{% url 'increment_emails_sent' pk=file.id %}">Send file as Email</a>
    <div class="view-details">
        <audio controls controlsList="nodownload noplaybackrate">
            <source src="{{ file.file.url }}">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
{% endfor %}
{% endif %}

<!-- video files -->
{% if video_files %}
{% for file in video_files %}
<div>
    {{file.title}}
    <a class="view">Preview</a>
    <a href="{{file.file.url}}" class="download-link" data-file-id="{{ file.id }}">Download</a>
    <a href="{% url 'increment_emails_sent' pk=file.id %}">Send file as Email</a>
    <div class="view-details">
        <video controls controlsList="nodownload noplaybackrate">
            <source src="{{ file.file.url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
    </div>
</div>
{% endfor %}
{% endif %}

<!-- pdf files -->
{% if pdf_files %}
{% for file in pdf_files %}
    {{file.title}}
    <a class="view">Preview</a>
    <a href="{{file.file.url}}" class="download-link" data-file-id="{{ file.id }}">Download</a>
    <a href="{% url 'increment_emails_sent' pk=file.id %}">Send file as Email</a>
    <div class="view-details">

    </div>
    <br>
{% endfor %}
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
    